@charset 'UTF-8';

/* Fonts */

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

/* Styles */

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  color: #212121;
  line-height: 1rem;
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  margin-bottom: 1rem;
}

ul {
  line-height: 1.5em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #3273dc;
  text-decoration: none;
  -webkit-transition: .125s;
          transition: .125s;
}

a:hover {
  text-decoration: underline;
}

/* Layouts */

body {
  align-items: center;
  background: #eee;
  display: flex;
  height: 100%;
  justify-content: center;
}

.container {
  background: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  max-width: 400px;
  width: 100%;
}

.header {
  align-items: center;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.header > img {
  border-radius: 3px;
  height: auto;
  width: 64px;
}

.header > h1 {
  margin: 1.5rem 0;
}

.header > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header > ul li {
  margin: 0 .5em;
}

.body {
  flex: 1;
  padding: 1.5rem;
}

.atcoder-widget {
  border-radius: 3px;
  height: 200px;
  overflow: hidden;
  width: 100%;
}
