@charset 'UTF-8';

$length-text: 16px;
$length-radius: 8px;
$length-width: 40 * $length-text;

$time-transition: 0.25s;
$time-animation-duration: 1s;
$time-animation-delay: 0.5s;

$color-text: #212121;
$color-text-brand: #000000;
$color-background: #ffffff;
$color-background-header: #e0e0e0;
$color-background-footer: #212121;
$color-link: #78909c;
$color-effect: #bdbdbd;

$font-family: 'Montserrat', 'M PLUS 1p', sans-serif;

$line-height: 1.75;

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color-background;
  color: $color-text;
  font-family: $font-family;
  line-height: $line-height;
  font-size: $length-text;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 0.75 * $length-text $length-text;
  animation: $time-animation-duration ease-out ($time-animation-delay + $time-animation-duration) 1 both fade-in;

  img {
    width: 3 * $length-text;
    height: auto;
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    font-weight: bold;

    li {
      display: inline-block;
      margin-left: 1.5 * $length-text;
    }

    a {
      display: inline-block;
      position: relative;
      color: inherit;

      &::after {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: scaleX(0);
        transform-origin: center;
        width: 100%;
        height: 0.25em;
        background-color: rgba($color-text, 0.25);
        content: '';
        transition: transform $time-transition ease-out;
      }

      &:hover {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100vw;
  background-color: $color-background-header;
  color: $color-text-brand;
  line-height: 1;

  .logo {
    width: 40vw;
    max-width: 0.4 * $length-width;
    height: auto;
    user-select: none;
    animation: $time-animation-duration ease-out $time-animation-delay 1 both fade-in;
  }

  .scroll {
    position: absolute;
    left: 50%;
    bottom: $length-text;
    transform: translateX(-50%);
    pointer-events: none;
    user-select: none;
    animation: $time-animation-duration ease-out ($time-animation-delay + $time-animation-duration) 1 both fade-in;

    svg {
      opacity: 0.25;
      width: 10vw;
      max-width: 0.1 * $length-width;
      height: auto;
      fill: $color-text;
    }
  }

  h1 {
    margin: -0.25em 0 0.25em;
    font-size: min(8vw, #{0.08 * $length-width});
    font-weight: 800;
    animation: $time-animation-duration ease-out ($time-animation-delay + 0.25 * $time-animation-duration) 1 both
      fade-in;
  }
}

.body {
  width: calc(100% - #{2 * $length-text});
  max-width: $length-width;
  margin: 0 auto;
  text-align: center;
  animation: $time-animation-duration ease-out ($time-animation-delay + $time-animation-duration) 1 both fade-in;

  a {
    display: inline-block;
    position: relative;
    color: $color-link;

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      transform: scaleX(0);
      transform-origin: center;
      width: 100%;
      height: 0.125em;
      background: $color-link;
      content: '';
      transition: transform $time-transition ease-out;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}

h2 {
  margin: (4 * $length-text) 0 (2 * $length-text);
  font-size: 1.5rem;
}

p {
  margin: (2 * $length-text) 0;
}

.keywords {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: (0.25 * $length-text);
    padding: (0.25 * $length-text) (0.5 * $length-text);
    border-radius: $length-radius;
    background-color: $color-background-header;
  }
}

.footer {
  margin-top: (6 * $length-text);
  padding: (4 * $length-text) 0;
  background-color: $color-background-footer;
  color: $color-background;
  text-align: center;
  animation: $time-animation-duration ease-out ($time-animation-delay + $time-animation-duration) 1 both fade-in;
}
